@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form action="FileUpload/Upload" method="post" enctype="multipart/form-data">
    <input type="file" id="file1" name="file1" /><br />
    <input type="submit" id="Uploadbtn" value="Upload" />
</form>

    <table class="table table-bordered table-striped ">
        <tr>
            <td>
                image
            </td>
        </tr>
        
    </table>

